.portfolioBTN {
  font-weight: bold;
}
#portfolio {
  margin-top: 25%;
}
.portfolioSection {
  padding-left: 10%;
}
.appButtons:hover {
  font-size: 20px;
}

.triviaGame {
  background-image: url('./Img/TriviaGame.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 10%;
}
.muscleCar {
  background-image: url('./Img/Muscle-Car-Game.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 10%;
}
.nodeGuessingGame {
  background-image: url('./Img/Node-Guess.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 10%;
}
.nagleParking {
  background-image: url('./Img/NagleParking.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 10%;
}
.launchPad {
  background-image: url('./Img/Team-Project.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 10%;
}
.sipNLearn {
  background-image: url('./Img/Sip-N-Learn.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 10%;
}
.btnToView {
  width: 250px;
  background-color: rgb(211, 211, 211);
  text-align: center;
  color: white;
  margin-top: 30px;
  border-radius: 15px;
  font-weight: bold;
}
.btnToView:hover {
  background-color: rgb(246, 245, 245);
}
.card {
  width: 100%;
}
.firstTextRow {
  margin-top: 30px;
}
.secondTextRow {
  margin-top: 40px;
}

.secondCol {
  border-top: 3px solid rgb(241, 241, 241);
  border-bottom: 3px solid rgb(241, 241, 241);
  padding-top: 80px;
  padding-bottom: 100px;
  padding-right: 15px;
  padding-left: 15px;
}

.innerText2 {
  margin-top: 20px;
  color: rgb(224, 224, 224);
}

.footerArrow {
  color: grey;
  font-weight: bold;
  opacity: 0.6;
  margin: 10% auto;
  font-size: 30px;
  padding-right: 15%;
}
.col1Text {
  margin-top: 30%;
  text-align: left;
  color: rgb(126, 144, 25);
}
.col1secondText {
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
  color: grey;
}
@media only screen and (max-width: 991px) {
  .secondCol {
    margin: 14em auto 0;
    width: 51%;
  }
  .portfolioSection {
    margin: 0 21%;
  }
  .footerArrow {
    display: none;

    /* color: grey;
    font-weight: bold;
    opacity: 0.6;
    margin: 10% auto;
    font-size: 30px;
    padding-right: 15%; */
  }
}

@media only screen and (max-width: 640px) {
  .secondCol {
    margin: 14em auto 0;
    width: 51%;
  }
  .portfolioSection {
    margin: 0 21%;
  }
  .col1Text {
    text-align: left;
    color: rgb(126, 144, 25);
  }
  .footerArrow {
    display: none;

    /* color: grey;
    font-weight: bold;
    opacity: 0.6;
    margin: 10% auto;
    font-size: 30px;
    padding-right: 15%; */
  }
}

@media only screen and (max-width: 480px) {
  .secondCol {
    margin: 2em auto 0;
    width: 100%;
  }
  .portfolioSection {
    margin: 0 auto 21%;
    padding-left: 15%;
  }
  .col1Text {
    text-align: left;
    color: rgb(126, 144, 25);
  }
  .footerArrow {
    display: none;
    /* color: grey;
    font-weight: bold;
    opacity: 0.6;
    margin: 10% auto;
    font-size: 30px;
    padding-right: 15%; */
  }
}
@media only screen and (max-width: 320px) {
  .secondCol {
    margin: 2em auto 0;
    width: 96%;
  }
  .col1Text {
    text-align: left;
    color: rgb(126, 144, 25);
  }
  .portfolioSection {
    margin: 0 21%;
  }
  .footerArrow {
    display: none;

    /* color: grey;
    font-weight: bold;
    opacity: 0.6;
    margin: 10% auto;
    font-size: 30px;
    padding-right: 15%; */
  }
}
