footer {
  margin-top: 39px;
  margin-bottom: 39px;
  text-align: center;
}
.viewProfileBtn {
  font-family: 'Fugaz One', cursive;

  color: grey;
  font-weight: bold;
}
.linkedin {
  width: 10%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  color: rgb(49, 111, 192);
  font-size: 50px;
}
.linkeninBTN {
  font-weight: bold;
}
