html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  text-decoration: none;
  color: rgb(230, 230, 230);
}
.nav {
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.navbar-brand {
  font-size: 3rem;
  font-weight: 300;
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards;
}

.navbar-brand span {
  color: rgb(110, 148, 89);
}
nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
}
nav ul li:nth-child(1) {
  animation-delay: 0s;
}

nav ul li:nth-child(2) {
  animation-delay: 0.5s;
}

nav ul li:nth-child(3) {
  animation-delay: 1s;
}

nav ul li:nth-child(4) {
  animation-delay: 1.5s;
}

nav ul li a {
  margin: 0 2rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(110, 148, 89);
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}
.navBtns {
  margin-left: 65%;
}

@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 700px) {
  .nav-bar-margin {
    margin-left: 0px;
  }
  .navbar-toggler-icon {
    margin-left: 0px;
  }
  .logo-brand {
    margin-left: 0px;
  }
}

.backgroundImg {
  background-image: url('./Img/React-Coding.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: 815px;
}
.portfolioBTN {
  font-weight: bold;
}
.nameText {
  font-weight: bold;
  color: rgb(110, 148, 89);
  font-size: 30px;
}
.backgroundText {
  font-weight: bold;
  padding-top: 206px;
  margin: 0 auto;
}
.btnContinue {
  width: 250px;
  background-color: rgb(110, 148, 89);
  text-align: center;
  color: white;
  margin-top: 30px;
  border-radius: 15px;
  font-weight: bold;
}
.btnContinue:hover {
  background-color: rgb(243, 243, 243);
}
.btnGitHub {
  width: 250px;
  background-color: rgb(211, 211, 211);
  text-align: center;
  color: white;
  margin-top: 30px;
  border-radius: 15px;
  font-weight: bold;
}
.btnGitHub:hover {
  background-color: rgb(246, 245, 245);
}
.innerText1 {
  color: rgb(168, 168, 168);
}
.card-text {
  text-align: center;
  font-weight: bold;

  color: rgb(165, 165, 165);
}
.innerFont1 {
  font-size: 47px;
  font-weight: bold;
  padding: 5px;
}
.innerFont2 {
  font-size: 20px;
  font-weight: bold;
}
.col1Text {
  margin-top: 50%;
  text-align: left;
  color: rgb(126, 144, 25);
}
.col1secondText {
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
  color: grey;
}

.cardControl {
  padding: 15px;
}
.btn:hover {
  color: rgb(110, 148, 89);
}

.card {
  width: 100%;
}
.firstTextRow {
  margin-top: 30px;
}
.secondTextRow {
  margin-top: 40px;
}
#portfolio {
  margin-top: 25%;
}
.secondCol {
  border-top: 3px solid rgb(241, 241, 241);
  border-bottom: 3px solid rgb(241, 241, 241);
  padding-top: 80px;
  padding-bottom: 100px;
  padding-right: 15px;
  padding-left: 15px;
}

.innerText2 {
  margin-top: 20px;
  color: rgb(224, 224, 224);
}
.backgroundImg2 {
  /* background-image: url(''); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  margin: 300px auto;
}

.expressionText {
  font-size: 29px;
  color: rgb(195, 195, 195);
  text-align: center;
  font-weight: bold;
  margin: 100px auto;
  margin-top: 233px;
  margin-bottom: 233px;
  padding-left: 10px;
  padding-right: 30px;
}
.portfolioSection {
  padding-left: 10%;
  margin-top: 50px;
}
.continueBTN {
  width: 100px;

  background-color: rgb(243, 243, 243);
  text-align: center;
  color: rgb(110, 148, 89);
  border-radius: 15px;
  font-weight: bold;
  font-size: 18px;
}

.continueBTN:hover {
  background-color: rgb(110, 148, 89);
  color: white;
}
.triviaGame {
  background-image: url('./Img/TriviaGame.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 10%;
}
.muscleCar {
  background-image: url('./Img/Muscle-Car-Game.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 10%;
}
.nodeGuessingGame {
  background-image: url('./Img/Node-Guess.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 10%;
}
.nagleParking {
  background-image: url('./Img/NagleParking.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 10%;
}
.launchPad {
  background-image: url('./Img/Team-Project.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 10%;
}
.sipNLearn {
  background-image: url('./Img/Sip-N-Learn.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 10%;
}
footer {
  margin-top: 39px;
  margin-bottom: 39px;
  text-align: center;
}
.viewProfileBtn {
  color: grey;
  font-weight: bold;
}
.linkedin {
  width: 10%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  color: rgb(49, 111, 192);
  font-size: 50px;
}
.linkeninBTN {
  font-weight: bold;
}
.upButton {
  color: grey;
  font-weight: bold;
  opacity: 0.6;
}
.upButton:hover {
  color: rgb(110, 148, 89);
}
.arrowDown {
  text-align: center;
}
.downButton {
  color: grey;
  font-weight: bold;
  opacity: 0.6;
  font-size: 20px;
}
.downButton:hover {
  color: rgb(110, 148, 89);
}
